
body {
	font-family: Roboto;
	font-weight: 400;
	font-size: 15px;
	margin: 0;
	background-color: #fafafa;
}

body.no-scroll {
	overflow: hidden;
}

::selection {
	background-color: #1de9b6;
	color: #fff;
}

a {
	transition: all 0.1s;
	color: #1de9b6;
	text-decoration: none;
}

a:hover {
	color: #00bfa5;
	text-decoration: underline;
}

hr {
	border: 0;
	border-top: 1px solid #e4e4e4;
	position: relative;
	z-index: 888;
	overflow: visible;
	margin: 15px 0;
	background-color: inherit;
}

hr:after {
	content: attr(text);
	position: absolute;
	left: 50%;
	top: -10px;
	transform: translateX(-50%);
	font-size: 15px;
	color: #ccc;
	background-color: inherit;
	padding: 0 5px;
	z-index: 999;
	text-transform: uppercase;
}

@keyframes animation-box-content {
  0% { border-radius: 50%; }
	100% { border-radius: 50px 10px; }
}

#box-mask {
  position: fixed;
  top: 0;
	left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(163, 176, 187, 0.5);
	z-index: 998;
}

.box-content {
  animation: animation-box-content 0.3s;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50px 10px;
  padding: 15px;
	width: 600px;
	z-index: 999;
	box-sizing: border-box;
	max-width: calc(100vw - 20px);
}

.box-content#connexion-box, .box-content#inscription-box {
	width: 600px;
	padding: 40px 20px;
}

#connexion-box a, #inscription-box a {
	color: #000;
	display: block;
	border-radius: 3px;
	padding: 10px;
}

#connexion-box a:hover, #inscription-box a:hover {
	text-decoration: none;
	background-color: #1de9b6;
	color: #fff;
}

#connexion-box a:hover p, #inscription-box a:hover p {
	color: #fff;
}

#connexion-box h3, #inscription-box h3 {
	font-family: Comfortaa;
	font-weight: 700;
	font-size: 25px;
	position: relative;
	margin: 0 0 10px;
	text-align: center;
}

#connexion-box p, #inscription-box p {
	margin: 0;
	padding: 0 20px;
	font-size: 14px;
	color: #555;
}

header {
	background-color: #fff;
	border-bottom: 1px solid #e4e4e4;
}

nav {
	padding: 20px 10px;
	max-width: 1000px;
	margin: 0 auto;
	font-size: 0;
}

nav > * {
	font-size: 15px;
	line-height: 30px;
	display: inline-block;
	vertical-align: middle;
}

nav > h1 {
	font-family: Comfortaa;
	color: #aaa;
	margin: 0;
	font-weight: 400;
	font-size: 24px;
	cursor: default;
}

nav > h1 span {
	color: #1de9b6;
}

nav > input {
	transition: all 0.1s;
	background-color: #fff;
	border: 0;
	padding: 5px 0;
	font-size: 17px;
	font-family: inherit;
	width: calc(100% - 400px);
	margin: 0 40px;
	color: #ddd;
	border-bottom: 2px solid transparent;
}

nav > input::placeholder, input::placeholder, textarea::placeholder {
	color: #aaa;
	opacity: 1;
}

nav > input:focus {
	font-size: 23px;
	color: #000;
	border-bottom-color: #1de9b6;
	margin-right: 0;
	width: calc(100% - 360px);
}

nav > input:focus::placeholder {
	color: #000;
	opacity: 1;
}

nav > input:focus + a, nav > input:focus + a + a {
	position: relative;
	opacity: 0;
	z-index: -1;
}

nav > a {
	color: #000;
	margin: 0 10px;
	font-size: 16px;
}

nav > a:first-child {
	margin-left: 0;
}

nav > a:last-child {
	margin-right: 0;
}

#search-mask {
	display: none;
	position: fixed;
	top: 83px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fafafa;
	padding-left: calc(50vw - 325px);
	padding-right: calc(50vw - 315px);
	z-index: 999;
}

#search-mask > ul {
	list-style: none;
	padding: 0;
}

#search-mask li {
	transition: padding 0.1s;
	display: block;
	margin: 5px 0;
	cursor: pointer;
	padding: 3px 10px;
	border-radius: 3px;
	font-size: 17px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#search-mask ul:first-child li:last-child {
	color: #1de9b6;
	text-transform: uppercase;
	font-size: 18px;
	border-left: 3px solid #1de9b6;
	padding-left: 7px;
	border-radius: 0 2px 2px 0;
}

#search-mask li:hover {
	background-color: #1de9b6;
	color: #fff;
	padding-left: 13px;
	padding-right: 7px;
}

#search-mask ul:first-child li:last-child:hover {
	background-color: #eee;
	color: #1de9b6;
	padding-left: 7px;
	padding-right: 10px;
}

#search-mask > span {
	font-family: Comfortaa;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: #bbb;
	margin: 30px 0 -10px;
	display: block;
}

header nav > a > span {
	color: #00bfa5;
}

header #notif {
	position: relative;
	font-size: 23px;
	padding: 0 5px;
	border-radius: 50%;
	margin-left: 0; /* TMP */
}

header #notif:hover {
	background-color: #eee;
}

<div new></div>

header #notif[new=true]:after,*/
header #notif[new]:after {
	content: '';
	position: absolute;
	top: -5px;
	right: -0;
	background-color: #1de9b6; /* ou #f44336 */
	color: #fff;
	padding: 5px;
	border-radius: 50%;
	font-size: 0;
	border: 2px solid #fff;
}

/* Footer */
footer {
	clear: both;
	background-color: #eee;
	margin-top: 30px;
	position: relative;
	padding-bottom: 90px;
	overflow: hidden;
}

footer > div:first-child {
	font-size: 0;
	max-width: 950px;
	margin: 10px auto;
	padding: 0 10px;
}

footer ul {
	box-sizing: border-box;
	font-size: 15px;
	list-style: none;
	display: inline-block;
	vertical-align: top;
	width: calc(100% / 3);
	padding: 10px 0;
	line-height: 25px;
}

footer ul li:first-child {
	text-transform: uppercase;
	font-family: Comfortaa;
	font-weight: 700;
	font-size: 11px;
	color: #999;
}

footer ul li a:not(:hover) {
	color: #555;
}

footer > div:nth-child(2) {
	background-color: #ccc;
	padding: 25px 10px 25px calc(50vw - 475px);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 950px;
	z-index: 2;
	color: #777;
	line-height: 35px;
}

footer > div:nth-child(2) span {
	margin-left: 10px;
}

footer > div:nth-child(2) a {
	color: #00bfa5;
}

footer > div:last-child {
	background-color: #999;
	padding: 25px calc(50vw - 475px) 25px 20px;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 170px;
	z-index: 3;
	line-height: 30px;
}

footer > div:last-child:before {
	content: '';
	position: absolute;
	bottom: -32px;
	left: -26px;
	width: 100px;
	height: 100px;
	background-color: inherit;
	transform: rotate(25deg);
	z-index: -1;
}

footer > div:last-child a {
	transition: border-radius 0.3s, color 0.3s, background-color 0.1s, text-shadow 0.3s;
	font-size: 25px;
	margin: 0 10px;
	width: 25px;
	display: inline-block;
	border-radius: 0;
	text-align: center;
	padding: 3px;
	line-height: 25px;
	max-height: 25px;
}

footer > div:last-child a:hover {
	background-color: #909090;
	color: #fff;
	border-radius: 10px;
	text-shadow: -1px -1px 0 #00bfa5, 1px 1px 0 #1de9b6;
}

main {
	max-width: 950px;
	margin: 10px auto;
	padding: 10px;
	color: #444;
	min-height: calc(100vh - 82px - 346px);
}

main h1 {
	font-family: Comfortaa;
	font-weight: 700;
	font-size: 30px;
	position: relative;
	margin: 10px 0 30px;
	color: #000;
}

main h1:after {
	content: '';
	position: absolute;
	top: 45px;
	left: 0;
	height: 3px;
	width: 70px;
	background-color: #1de9b6;
}

main h2 {
	font-family: Comfortaa;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	color: #000;
	margin: 0;
	display: block;
}

main > aside {
	float: right;
	width: 270px;
	margin-left: 20px;
}

.img-openable {
	box-sizing: border-box;
	border: 2px solid transparent;
	cursor: pointer;
}

.img-openable:hover {
	border-color: #1de9b6 !important; /* important à supprimer plus tard */
}

main > article {
	float: left;
	width: calc(100% - 290px);
}

main p {
	padding: 0;
	margin: 5px 0;
}

main div > p:last-child {
	margin-bottom: 0;
}

.star-rate {
	font-size: 0;
	color: #ffca28;
	display: inline-block;
	vertical-align: middle;
}

.star-rate i {
	font-size: 18px;
}

@keyframes focus-animation {
	0% { text-shadow: 0 0 50px #1de9b6; }
	50% { text-shadow: 0 0 20px #1de9b6; }
	100% { text-shadow: 0 0 50px #1de9b6; }
}

*:not(nav) > input:focus::placeholder, textarea:focus::placeholder {
	opacity: 1;
	padding-left: 2px;
	transition: padding 0.1s;
}

input, textarea { /* pour empêcher que sur Mac il y ait un halo bleu pas très joli (pour ne pas dire dégoutant) */
	outline: 0;
}

*:not(input):not(textarea):focus {
	transition: all 0s;
	outline: 1px dashed #00bfa5;
	outline-offset: 2px;
}
