<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>restaurant.jsp</welcome-file>
        <welcome-file>inscription.html</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>AjoutUtilisateurParticulierServlet</servlet-name>
        <servlet-class>com.dauphine.servlet.AjoutUtilisateurParticulierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnexionVerificationServlet</servlet-name>
        <servlet-class>com.dauphine.servlet.ConnexionVerificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjoutUtilisateurParticulierServlet</servlet-name>
        <url-pattern>/AjoutUtilisateurParticulierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnexionVerificationServlet</servlet-name>
        <url-pattern>/ConnexionVerificationServlet</url-pattern>
    </servlet-mapping>
</web-app>
